<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="consol" target="SYSTEM_OUT">
			<PatternLayout pattern ="%d - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="INFO">
			<AppenderRef ref="consol" />
		</Root>
	</Loggers>
</Configuration>